<div class="container has-background-black-ter">
  <div class="columns is-multiline has-background-black-ter">
    <% if recipe.errors.any? %>
      <div class="column is-6 is-offset-3">
        <article class="message is-dark">
          <div class="message-body">
            <p><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe to be created:</p>
            <br>
            <p>
            <% recipe.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </p>
          </div>
        </article>
      </div>
    <% end %>

    <div class="column is-6 is-offset-3">
      <div class="content is-size-2">
        <%= headline %>
      </div>
    </div>

    <div class="column is-6 is-offset-3">
      <%= form_with model: recipe, local: true do |form| %>
        <div class="field ">
          <%= form.label :title, class: "label has-text-light" %>
          <div class="control">
            <%= form.text_field :title, class: "input", placeholder: "Text input" %>
          </div>
        </div>

        <div class="field">
          <%= form.label :description, class: "label has-text-light" %>
          <div class="control">
            <%= form.text_area :description, class: "textarea", placeholder: "Description of a recipe"%>
          </div>
        </div>


        <div class="field">
          <%= form.label :instructions, class: "label has-text-light" %>
          <div class="control">
          <%= form.text_area :instructions, class: "textarea", placeholder:"Instructions for the recipe"%>
          </div>
        </div>


        <div class="field is-grouped">
          <div class="control">
            <%= form.submit button_name, class: "button is-light has-text-dark" %>
          </div>
          <div class="control">
            <%= link_to 'Back', back_path, class: "button is-light has-text-dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

