<% if @recipe.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe to be created:
    </h2>

    <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<%= form_with model: @recipe, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :instructions %>
    <%= form.text_area :instructions %>
  </p>

  <p>
    <%= form.submit button_name %>
  </p>
<% end %>

<h1> <%= link_to 'Back', root_path %> </h1>


