<div class="column is-6 is-offset-3">
  <div class="content is-size-1">
    New @user
  </div>
</div>

<% if @user.errors.any? %>
  <div class="column is-6 is-offset-3">
    <article class="message is-dark">
      <div class="message-body">
        <p><%= pluralize(@user.errors.count, "error") %> prohibited this user to be created:</p>
        <br>
        <p>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </p>
      </div>
    </article>
  </div>
<% end %>


<div class="column is-6 is-offset-3">
  <article class="media">
    <div class="media-content">
      <%= form_with model: @user, local: true do |form| %>
        <div class="field">
          <%= form.label :name, class: "label" %>
          <p class="control">
            <%= form.text_field :name, class: "input", placeholder: 'Your name' %>
          </p>
        </div>

        <div class="field">
          <%= form.label :email, class: "label" %>
          <p class="control">
            <%= form.email_field :email, class: "input", placeholder: "Your email" %>
          </p>
        </div>
        <div class="field">
          <%= form.label :password, class: "label" %>
          <p class="control">
            <%= form.password_field :password, class: "input", placeholder: "Your password" %>
          </p>
        </div>

        <div class="field">
          <%= form.label :password_confirmation, class: "label" %>
          <p class="control">
            <%= form.password_field :password_confirmation, class: "input", placeholder: "Confirm your password" %>
          </p>
        </div>


        <nav class="level">
          <div class="level-left">
          </div>
          <div class="level-right">
            <div class="level-item">
              <%= form.submit "Create user", class: 'button is-light' %>
            </div>
            <div class="level-item">
              <%= link_to 'Back', recipes_path, class: "button is-light has-text-dark" %>
            </div>
          </div>
        </nav>
      <% end %>
    </div>
  </article>
</div>
