<!DOCTYPE html>
<html>
  <head>
    <title>StarKitchen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
  </head>

  <body>
    <%= render 'shared/nav_bar' %>
    <section class="section has-background-black-ter has-text-light is-radiusless">
      <%= render 'shared/flash' %>
      <%= yield %>
    </section>
    <%= render 'shared/footer' %>
  </body>
</html>
